<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}

<body>
    {{ template "nav" . }}
    <div class="jumbotron vertical-center">
        <div class="container">
            <span class="nu_menu_search" style="display: inline;">
                <form id="search_nu_novel" action="https://www.novelupdates.com/">
                    <span class="w-search-input-h">
                        <div class="input-group mb-3">
                            <input id="searchme-rl newmenu" class="form-control form-control-lg" autocomplete="off"
                                onkeyup="showSearch(this.value)" type="text" value="" name="s"
                                placeholder="Search Novels...">
                            <!-- <input type="hidden" name="post_type" value="seriesplans"> -->

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" onclick="search_btn_click();" type="button"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>

                    </span>
                    <div class="livesearchresult" style="display: none; z-index: 2;"></div>
                </form>
            </span>
        </div>
    </div>

</body>

</html>