<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "nav" . }}
    <div class="container">
        <h1>Queues</h1>
        <div class="row">
            <div class="col">
                <h2 class="text-center">NovelQueue</h2>
                <table class="table">
                    <!-- <thead rowspan="4">NovelQueue</thead> -->
                    <thead>
                        <th>#</th>
                        <th>title</th>
                        <th>queuedAt</th>
                        <th>finishedAt</th>
                    </thead>
                    <tbody>
                        <tr>
                            {{range $index,$i := .NovelQueue}}
                            <td>{{$index}}</td>
                            <td>{{$i.Novel.Title}}</td>
                            <td>{{$i.QueuedAt}}</td>
                            <td>{{if $i.Finished }} {{ $i.FinishedAt }} {{ else }} - {{ end }}</td>
                            {{end}}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2 class="text-center">ChapterQueue</h2>
                <table class="table">
                    <!-- <thead rowspan="5">ChapterQueue</thead> -->
                    <thead>
                        <th>#</th>
                        <th>title</th>
                        <th>idx</th>
                        <th>queuedAt</th>
                        <th>finishedAt</th>
                    </thead>
                    <tbody>
                        <tr>
                            {{range $idx,$i := .ChapterQueue}}
                            <td>{{$idx}}</td>
                            <td>{{$i.Novel.Title}}</td>
                            <td>{{$i.Chapter.Idx}}</td>
                            <td>{{$i.QueuedAt}}</td>
                            <td>{{if $i.Finished }} {{ $i.FinishedAt }} {{ else }} - {{ end }}</td>
                            {{end}}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</body>

</html>