<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/live_search.js"></script>
    <style>
        .vertical-center {
            /* min-height: Calc(100%- 40px);
            min-height: Calc(100vh - 40px); */
            height: 100%;
            display: flex;
            align-items: center;
            padding-top: 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="queues.html">Queues</a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="wrapper">
                <div class="col-header">
                    <h2>Ancient Strengthening Technique</h3>
                </div>

                <div class="col-cover">
                    <img src="../assets/img/img.jpg">
                </div>
                <div class="colabc">
                    <h4>Description</h4>
                    A human warrior cultivating the Ancient Strengthening Technique has transcended
                    dimensions
                    and arrived on Kyushu. Together with twelve ravishing beauties with looks that were unmatched in
                    their
                    generation, will he be able to stand on the summit of this world?

                    This novel is about the main character, named Qing Shui, who transcended dimensions and arrived in
                    the
                    Kyushu continent. Storms of blood and wind, resulting in corpses and bones strewn about are
                    extremely
                    common here. The young warrior Qing Shui forged ahead in his path to cultivate, using 10 years to
                    train
                    himself, only to seek vengeance for the one who had forsaken his mother!

                    Note from Author: I Am Superfluous

                    To put it simply, this is a story about the rising up in ranks, and getting hot chicks along his
                    journey
                    to stand at the summit of this world.
                </div>

                <div class="col-header">
                    <h2>Table</h2>
                </div>
                <div class="col-table table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>last updated</td>
                                <td>25.04.2019</td>
                                <!-- queue now? -->
                            </tr>
                            <tr>
                                <th>next scheduled update</th>
                                <td>25.04.2019</td>
                            </tr>
                            <tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-header">
                    <h2>Download</h2>
                </div>
                <div class="col-btn">
                    <button type="button" class="btn btn-primary">download all</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>