<!DOCTYPE html>
<html lang="en">

{{ template "header" . }}

<body>
    {{ template "nav" . }}
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="wrapper">
                <div class="col-header">
                    <h2>{{ .Data.Novel.Title }}</h3>
                </div>

                <div class="col-cover">
                    <img src="../../assets/img/img.jpg">
                </div>
                <div class="colabc">
                    <h4>Description</h4>
                    {{ .Data.Novel.Description.String }}
                </div>

                <div class="col-header">
                    <h2>Table</h2>
                </div>
                <div class="col-table table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>last updated</td>
                                <td>{{ if .Data.Novel.UpdatedAt.Valid }} {{ .Data.Novel.UpdatedAt.Time }} {{ else }} - {{ end }}</td>
                                <!-- queue now? -->
                            </tr>
                            <tr>
                                <th>next scheduled update</th>
                                <td>N/A</td>

                            </tr>
                            <tr>
                                <th>fetched At</th>
                                <td>{{ .Data.Novel.FetchedAt }}</td>
                            </tr>
                            <tr>
                                <th>Chapter Count</th>
                                <td> {{ .Data.Novel.Chaptercount.Int }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-header">
                    <h2>Download</h2>
                </div>
                <div class="col-btn">
                    <button type="button" class="btn btn-primary">download all</button>
                </div>
                <div class="col-btn">
                    <h2>Sources</h2>
                    <ul class="nav nav-tabs">
                    {{ if .Data.Sources}}
                        {{ range .Data.Sources }}
                        <a class="nav-item nav-link {{if .Default }} active {{else}} {{end}}" id="nav-{{.Name}}-tab" data-toggle="tab" href="#nav-{{.Name}}" role="tab" aria-controls="nav-{{.Name}}" aria-selected="{{ if .Default }} true {{ else }} false {{end}}">{{.Name}}</a>
                        {{ end }}
                    {{ end }}
                        <a class="nav-item nav-link {{ if not .Data.Sources }} active {{end}}" id="nav-addsource-tab" data-toggle="tab" href="#nav-addsource" role="tab" aria-controls="nav-addsource" aria-selected="{{ if not .Data.Sources }} true {{ else }} false {{end}}">Add Source</a>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        {{ if .Data.Sources }}
                        {{ range .Data.Sources }}
                            <div class="tab-pane fade show {{ if .Default }} active {{end}}" id="nav-{{.Name}}" role="tabpanel" aria-labelledby="nav-{{.Name}}-tab">
                                <!-- content -->
                                <p>found {{.Data.ChapterCount}} Chapter</p>
                                <p>downloaded {{.Data.DownloadedChapterCount}}</p>
                                <button type="button" class="btn btn-primary">add to update queue</button>
                                <button type="button" class="btn btn-primary">download</button>
                            </div>
                        {{ end }}
                        {{end}}
                        <div class="tab-pane fade show {{ if not .Data.Sources }} active {{ end }}" id="nav-addsource" role="tabpanel" aria-labelledby="nav-addsource-tab">
                            <div class="alert alert-success fade show alert-dismissible" id="addsource-alert-success" role="alert" style="display: none;">
                                <h4 class="alert-heading">Adding Source successful</h4>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-danger fade show alert-dismissible" id="addsource-alert-error" role="alert" style="display: none;">
                                <strong>Error: failed to add source></strong>
                                <p class="mb-0" id="addsource-alert-msg"></p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <label for="source-url">Url</label>
                            <input type="text" class="form-control" id="source-url">
                            <button type="button" id="btn-addsource" class="btn btn-primary" onclick="addSource();">add source</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>